tunnel: REPLACE_WITH_TUNNEL_ID
credentials-file: /etc/cloudflared/credentials.json
metrics: 0.0.0.0:21123
no-autoupdate: true
ingress:
  - hostname: usedarwin.xyz
    service: http://site:8080
  - hostname: www.usedarwin.xyz
    service: http://site:8080
  - service: http_status:404
